.track_container {
    padding: 10px;
}

.cont_top {
    display: flex;
    height: 180px;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0 0 20px 0;
}

.track_data {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.track_image_div {
    width: 152px;
    height: 152px;
    overflow: hidden;
}

.track_data_div {
    width: calc(100% - 152px);
    height: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* player */

.player {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

.player:hover {
    background-color: #5c5c5c;
}

.player img {
    width: 20px; /* Ajuste conforme necessário */
    height: 20px; /* Ajuste conforme necessário */
}

#play_icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    background-image: url('./images/icons/play_icon_light.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#pause_icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 8px;
    background-image: url('./images/icons/pause_icon_light.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* ********* */

#track_name, #artist_list, #album_name, #track_duration_div {
    margin-bottom: 5px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    text-align: start;
}

#track_name {
    font-size: 24px;
    font-weight: 700;
    user-select: text;
}

#artist_list {
    font-size: 16px;
    user-select: text;
}

#album_name {
    font-size: 16px;
    user-select: text;
}

#track_duration_div {
    font-size: 14px;
    font-style: italic;
    color: #818181;
}

#track_duration_seconds {
    margin-left: 3px;
}

.cont_main {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.internal_div {
    background-color: #ffffff;
    color: #333;
    border-radius: 12px;
    padding: 15px 20px;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

.track_info {
    display: flex;
    flex-direction: column;
    width: calc(40% - 10px);
    align-items: center;
    padding: 20px;
    user-select: text;
}

#track_markets {
    position: relative;
    cursor: pointer;
}

#track_markets::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

#track_markets:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}




.track_ids {
    width: calc(60% - 10px);
}

.mxm_links {
    width: calc(60% - 10px);
}

.stats_div {
    margin: 0;
}

.cont_id {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.cont_id_label {
    width: 30%;
    display: flex;
    align-items: center;
    text-align: start;
}

.cont_id_value {
    flex: 1;
    padding: 8px;
    background-color: #ededed;
    color: #333;
    border-radius: 12px;
    user-select: text;
    cursor: text;
}

.lyrics_stats_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: calc(40% - 10px);
    margin: 10px 0;
}

.lyrics_stats {
    background-color: #333333;
    border-radius: 12px;
    padding: 15px 20px;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-gray {
    background-color: #d6d6d6;
}

.status-blue {
    background-color: #4A90E2;
}

.status-red {
    background-color: #ff351b;
}

.status-1 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    align-items: right;
    max-width: 10px;
}

.shortcuts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.studio_shortcut {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px 8px;
    width: calc(50% - 20px);
    font-size: 14px;
    text-overflow: ellipsis;
    transition: background-color 0.3s ease;
    text-wrap:nowrap;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

.studio_shortcut:hover {
    background-color: #ededed;
}

#mxmImportDiv {
    background-color: #333333;
    color: #ffffff;
    border-radius: 12px;
    display: inline-block;
    width: 120px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    cursor: pointer;
}

#mxmImportDiv:hover {
    background-color: #5c5c5c;
}


/* importe info icon */

  
  .info-icon {
    cursor: pointer;
    margin: auto;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  
  .icon {
    fill: rgb(0, 0, 0); /* Default color */
    width: 24px;
    height: 24px;
  }

  .tooltip {
    display: none;
    position: absolute;
    background-color: #333333f0;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 200px;
    max-width: 300px;
    top: 50%; /* Center the tooltip vertically relative to the icon */
    left: 45%; /* Position to the right of the icon */
    transform: translateY(-50%); /* Center the tooltip vertically */
    white-space: pre-wrap;
  }
  
  .info-icon:hover + .tooltip {
    display: block;
  }


  /* ******** */

/* AVAILABLE MARKETS POPUP */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000059;
    backdrop-filter: blur(1px);
    z-index: 999;
    display: none; /* Hidden by default */
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
    max-width: 90%;
    padding: 20px;
    z-index: 1000;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-header h2 {
    margin: 0;
    font-size: 1.2rem;
}

.close-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.2rem;
    color: #999;
}

.markets-search-bar {
    margin: 10px 0;
    display: flex;
}

.markets-search-bar input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.country-list {
    max-height: 200px;
    overflow-y: auto;
    margin: 0;
    padding: 0 10px;
    list-style: none;
    text-align: start;
}

.country-list li {
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0;
}

.country-list li:last-child {
    border-bottom: none;
}

.unavailable {
    color: #ababab;
}

/* ******** */

/* SELETORES DE TEMA */

.theme-selectors {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 15px;
}

.theme-selector {
    width: 18px;
    height: 18px;
    border: 2px solid rgba(0, 0, 0, 0.276);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.theme-selector.image {
    position: relative;
    overflow: hidden;
    background-size: 180%;
}

.theme-selector.image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    background-size: inherit;
    filter: blur(1px);
    z-index: -1;
}

.theme-selector.defaut {
    background-color: #6b6b6b;
}

.theme-selector.selected {
    transform: scale(1.15);
    border: 2px solid rgba(0, 0, 0, 0.276);
    box-shadow: #00000062 0px 0px 10px;
}

/* *********** */

@media (max-width: 700px) {

    .cont_top {
        height: 120px;
    }

    .track_image_div {
        width: 90px;
        height: 90px;
    }

    .track_data_div {
        width: calc(100% - 90px);
        padding: 0 25px;
    }

    #track_name {
        font-size: 18px;
    }

    .internal_div, .studio_shortcut, .cont_id_label, #artist_list, #album_name {
        font-size: 16px;
    }

    .cont_id_value {
        font-size: 15px;
    }


    .cont_main {
        display: flex;
        flex-direction: column;
    }

    .track_info, .track_ids, .mxm_links {
        width: 100%
    }

    .lyrics_stats_div {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .stats_div {
        width: calc(100% - 170px);
    }

    .studio_shortcut {
        padding: 10px 20px;
        width: 75%;
    }

    .shortcuts {
        width: 160px;
        flex-direction: column;
    }

    .tooltip {
        top: -75%;
    }

}

@media (max-width: 550px) {

    #track_name {
        font-size: 16px;
    }

    .internal_div, .studio_shortcut, .cont_id_label, #artist_list, #album_name {
        font-size: 14px;
    }

    .cont_id_value {
        font-size: 13px;
    }

    .track_container {
        padding: 1px 0;
    }

    .cont_top {
        margin: 0 0 10px 0;
    }

    .internal_div, .lyrics_stats_div {
        margin: 5px 0;
    }

    .track_info {
        padding: 10px;
    }

    .stats_div {
        margin: 0;
    }

    .track_ids, .mxm_links, .stats_div {
        padding: 10px 20px;
    }

    .studio_shortcut {
        padding: 8px 20px;
    }

    .player {
        width: 30px;
        height: 30px;
    }
    
    .player img {
        width: 16px; 
        height: 16px; 
    }
    
    #play_icon {
        left: 10px;
        width: 14px;
        height: 14px; 
    }
    
    #pause_icon {
        left: 8.4px;
        width: 14px;
        height: 14px; 
    }

    .track_data {
        padding: 5px;
    }

    .track_image_div {
        width: 100px;
        height: 100px;
    }

    .track_data_div {
        width: calc(100% - 100px);
    }

    .track_data_div {
        padding: 0 10px;
    }

    .cont_top {
        height: 110px;
        padding: 0 5px;
    }

    .cont_main {
        padding: 0 5px;
    }

    .studio_shortcut, .internal_div {
        border-radius: 8px;
    }

    .tooltip {
        top: -85%;
    }
}

@media (prefers-color-scheme: dark) {
    .internal_div, .studio_shortcut {
        background-color: #333333;
        color: #ffffff;
    }

    .studio_shortcut:hover {
        background-color: #5c5c5c;
    }

    .cont_id_value {
        background-color: #3e3e3e;
        color: #ffffff;
    }

    .status-gray {
        background-color: #626262;
    }

    .player {
        background-color: #f9f9f9;
    }
    
    .player:hover {
        background-color: #dfdfdf;
    }

    #play_icon {
        background-image: url('./images/icons/play_icon_dark.svg');
    }
    
    #pause_icon {
        background-image: url('./images/icons/pause_icon_dark.svg');
    }

    .icon {
        fill: white; 
    }

    .tooltip {
        background-color: #f9f9f9;
        color: #333;
    }

    #mxmImportDiv {
        background-color: #ffffff;
        color: #000000;
        border-radius: 12px;
        display: inline-block;
        width: 120px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto 0;
        cursor: pointer;
    }
    
    #mxmImportDiv:hover {
        background-color: #dfdfdf;
    }

    #track_markets::after {
        background-color: rgb(255, 255, 255);
    }

    .popup-container {
        background-color: #0f0f0f;
    }

    .country-list li {
        border-bottom: 1px solid #3c3c3c;
    }

    .unavailable {
        color: #555555;
    }

    
    .theme-selector {
        border: 2px solid rgba(255, 255, 255, 0.464);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    }
    
    .theme-selector.defaut {
        background-color: #101010;
    }
    
    .theme-selector.selected {
        transform: scale(1.15);
        border: 2px solid rgb(255, 255, 255);
        box-shadow: #00000062 0px 0px 10px;
    }
}