/* Estilos padrão (modo claro e escuro) */
html {
    touch-action: manipulation;
  }

body {
    background-color: #fafafa;
    color: black;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}


::-webkit-scrollbar {
    width: 14px;
}
  
::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #AAAAAA;
}

.flag {
    width: 40px;
    cursor: pointer;
}
.flag-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.flag-menu {
    display: none;
    position: absolute;
    width: 190px;
    top: 45px;
    left: -158px;
    background-color: #fbfbfb;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 12px;
    padding: 5px;
}

.flag-option {
    display: flex;
    align-items: center;
    padding: 3px 10px;
    border-radius: 8px;
}

.flag-option:hover {
    background-color: #e7e7e7;
}

.country-name {
    margin-left: 10px;
    font-size: 14px;
    color: #252525;
}

h1, p {
    color: #252525;
}

hr {
    border-top: 1px solid #ccc; 
    border-right: none; 
    border-bottom: none; 
    border-left: none; 
    border-image: initial; 
    margin: 9px 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
    padding: 10px 15px;
}

.main {
    padding: 30px;
    text-align: center;
}

.footer {
    margin-top: auto;
    background-color: #fbfbfb;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 12px 20px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    user-select: none;
}

.footer_link {
    color: #252525; 
    text-decoration: none; 
    position: relative;
}

/* Pseudo-elemento para criar o sublinhado */
.footer_link::after {
    content: '';
    position: absolute; 
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #595959;
    transform: scaleX(0);
    transform-origin: bottom right; 
    transition: transform 0.3s ease;
}

.footer_link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left; 
}

.footer p {
    margin: 0;
    font-size: 15px;
}

.github_icon {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    background-image: url('/images/github_dark.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


.main h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.main h2 {
    font-size: 1.2em;
}

.main p {
    font-size: 1.2em;
}


/* ESTILOS INTERNOS */

.message {
    margin: 0 0 30px 0;
    user-select: none;
}

#topTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #333;
    margin: 0;
    user-select: none;
}

#mainTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #333;
}

  #mainDescription {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: #666;
    margin: 0;
}

#notification {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fbfbfb;
    border-radius: 8px;
    display: flex;
    max-height: 65px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1001;
    padding: 10px 20px;
    box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
}

#notification-message {
    font-size: 16px;
    margin: 0;
}

.notification-content p {
    color: #000000; 
    opacity: 100;
    user-select: none;
    width: 100%;
}

.unavailable_overlay {
    position: absolute; /* Definindo a posição absoluta */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff99; /* Opacidade */
    z-index: 1;
}

/* SIMULADOR */

.simulator_top {
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 15px 0;
}

    /* SEARCH */

    .search-container {
        width: 100%;
        position: relative;
    }

    .search-bar {
        width: 100%;
        padding: 12px 20px;
        padding-right: 40px;
        border: 1px solid #ccc;
        border-radius: 12px;
        font-size: 16px;
        box-sizing: border-box;
        outline: none;
    }

    .search-bar:focus {
        border: 1px solid #079cff;
        box-sizing: border-box;
        box-shadow: 0 0 0 1px #4A90E2;
    }

    .search-icon {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    /* ******* */

/* SEARCH EXEMPLES */

.search_examples {
    max-width: 800px;
    margin: auto;
    box-sizing: border-box;
    background-color: #393939;
    width: 100%;
    height: 250px;
    border-radius: 12px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: relative;
    overflow: hidden;
}



.text_rocket {
    font-size: 18px;
    font-weight: 600;
    text-align: start;
    width: calc(100% - 215px);
}

.rocket_svg {
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 45px;
    right: 20px;
    animation: float 5s ease-in-out infinite;
    overflow: hidden;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.wave_svg {
    position: absolute;
    top: 150px;
    left: -20px;
}

.svg_blue {
    fill:#38a1ff;
}

.svg_borders {
    fill:#ffffff;
}

.main_simulator_div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.simulator {
    background-color: #ffffff;
    border-radius: 12px; 
    max-width: 800px;
    margin: auto;
    box-shadow: 0 11px 34px 0 rgba(0, 0, 0, .2);
    transition: opacity 0.5s ease;
    box-sizing: border-box;
}

.search_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #121212;
}

.simulator_section_intern {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box; /* inclui padding e borda na largura */
    position: relative;
    margin: 10px 0;
}


/**/

.input_with_suffix {
    display: flex;
    align-items: center;
}


#time_period {
    padding: 15px 10px;
    box-sizing: border-box;
    border: none;
    border-left: none;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    color: #777;
}

.simulator_bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

#rentDescription {
    max-width: 65%;
    align-content: center;
    margin: 0;
    font-size: 0.8em;
    text-align: start;
    color:#aeaeae;
    font-style: italic;
}

.simularButton {
    display: flex;
    padding: 10px;
    background-color: #252525;
    color: #f1f1f1; 
    border-radius: 12px;
    width: max-content;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.simularButton:hover {
    background-color: #585858;
}


/* RESULTADOS */

.resultado_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 10px 5px;
}

.resultado_container_section {
    border: 1px solid #000; /* Borda preta de 1px */
    padding: 10px; /* Espaçamento interno */
    text-align: center; /* Centralizar texto */
}


.resultado_section_intern {
    margin-bottom: 10px;
    box-sizing: border-box; /* inclui padding e borda na largura */
    position: relative;
    margin: 10px 0;
}

/* ********** */

/* Estilos responsivos para dispositivos móveis */
@media (max-width: 700px) {

    .top {
        padding: 15px 12px;
    }

    .message {
        display:none;
    }

    .main h1 {
        font-size: 1.5em;
    }

    .main h2 {
        font-size: 1em;
    }

    .main p {
        font-size: 1em;
    }

    .footer {
        padding: 15px;
    }

    .main {
        padding: 0 15px 10px 15px;
    }

    #topTitle {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8em;
    }

    .simulator_section_intern {
        width: 100%; 
    }

    .simulator_main {
        width: 100%;
    }

    td, th {
        border: 0.5px solid #ccc;
        padding: 5px; 
        font-size: 50%;
    }

    .rocket_svg {
        height: 150px;
        width: 150px;
        top: 90px;
    }

    .wave_svg {
        top: 150px;
        left: -20px;
    }

    .wave_svg{
        background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' id='svg' viewBox='0 0 1440 490' xmlns='http://www.w3.org/2000/svg' class='transition duration-300 ease-in-out delay-150'%3E%3Cpath d='M 0 500 L 0 93 C 43.98698088767877 97.67133019641017 87.97396177535754 102.34266039282033 141 104 C 194.02603822464246 105.65733960717967 256.09113378624863 104.30068862512886 300 138 C 343.90886621375137 171.69931137487114 369.66150307964784 240.45458510666418 407 272 C 444.33849692035216 303.5454148933358 493.26285389515976 297.8809709482143 552 315 C 610.7371461048402 332.1190290517857 679.287081339713 372.02153110047846 726 406 C 772.712918660287 439.97846889952154 797.5888207459884 468.0329046498718 849 487 C 900.4111792540116 505.9670953501282 978.3576356763331 515.8468503000344 1023 542 C 1067.642364323667 568.1531496999656 1078.9806365486795 610.5796941499907 1125 645 C 1171.0193634513205 679.4203058500093 1251.7198181289486 705.8343731000026 1310 725 C 1368.2801818710514 744.1656268999974 1404.1400909355257 756.0828134499986 1440 768 L 1440 500 L 0 500 Z' stroke='none' stroke-width='0' fill='%230693e3' fill-opacity='0.4' class='transition-all duration-300 ease-in-out delay-150 path-0'%3E%3C/path%3E%3Cpath d='M 0 500 L 0 218 C 46.04386846070474 190.84521795447938 92.08773692140949 163.69043590895873 140 173 C 187.9122630785905 182.30956409104127 237.69292077506674 228.08347431864445 291 271 C 344.30707922493326 313.91652568135555 401.14057997832356 353.9756668164635 444 393 C 486.85942002167644 432.0243331835365 515.7447593116391 470.0138584155014 568 485 C 620.2552406883609 499.9861415844986 695.8803827751196 491.96889952153106 741 515 C 786.1196172248804 538.0311004784689 800.7337095878822 592.1105434983742 844 620 C 887.2662904121178 647.8894565016258 959.1847788733512 649.5889264849719 1015 664 C 1070.8152211266488 678.4110735150281 1110.5271749187132 705.5337505617383 1155 730 C 1199.4728250812868 754.4662494382617 1248.7065214517963 776.2760712680747 1297 803 C 1345.2934785482037 829.7239287319253 1392.646739274102 861.3619643659626 1440 893 L 1440 500 L 0 500 Z' stroke='none' stroke-width='0' fill='%230693e3' fill-opacity='0.53' class='transition-all duration-300 ease-in-out delay-150 path-1'%3E%3C/path%3E%3Cpath d='M 0 500 L 0 343 C 30.11522905707261 332.37575008591296 60.23045811414522 321.75150017182585 119 326 C 177.76954188585478 330.24849982817415 265.19339660049167 349.3697493986095 313 380 C 360.80660339950833 410.6302506013905 368.995955483888 452.76950223373615 409 496 C 449.004044516112 539.2304977662639 520.8227814639563 583.5522416664463 579 610 C 637.1772185360437 636.4477583335537 681.7129186602871 645.0215311004785 732 666 C 782.2870813397129 686.9784688995215 838.3255438948954 720.3616339316399 884 741 C 929.6744561051046 761.6383660683601 964.9849057601311 769.5319331729626 1002 791 C 1039.0150942398689 812.4680668270374 1077.73483306458 847.5106333765101 1132 870 C 1186.26516693542 892.4893666234899 1256.0757619815486 902.425533320997 1310 925 C 1363.9242380184514 947.574466679003 1401.9621190092257 982.7872333395014 1440 1018 L 1440 500 L 0 500 Z' stroke='none' stroke-width='0' fill='%230693e3' fill-opacity='1' class='transition-all duration-300 ease-in-out delay-150 path-2'%3E%3C/path%3E%3C/svg%3E");
    }

    .text_rocket {
        font-size: 18px;
        width: calc(100% - 155px);
    }

}


.google_input_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #cccccc;
    border-radius: 8px;
    width: 100%;
    transition: border-color 0.3s ease;
}

.google_input_wrapper:hover {
    border-color: #007bff;
}

.google_input_container {
    position: relative;
    margin: 10px 0;
}

.google_prefix {
    border-right: none;
    color: #777;
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px;
}

.google_input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    transition: border-color 0.3s ease;
    padding: 15px;
    border-radius: 8px;
}

.google_label {
    position: absolute;
    top: -8px;
    left: 15px;
    background-color: white;
    padding: 0 5px;
    color: #777;
    font-size: 14px;
    font-weight: 500;
    z-index: 1;
}

/**/

.simulator_section_intern {
    margin: 20px 0;
}


/* TEMA DARK */

@media (prefers-color-scheme: dark) {
    body {
        background-color: #181818;
        color: rgb(255, 255, 255);
    }

    h1, p, label {
        color: #ffffff;
    }


    .flag-menu {
        background-color: #2c2c2c;
    }

    .flag-option:hover {
        background-color: #444;
    }

    .country-name {
        color: #ffffff;
    }


    hr {
        border-top: 1px solid rgb(100, 100, 100); 
    }

    #topTitle {
        color: #f7f7f7;
    }

    #mainTitle {
        color: #f7f7f7;
    }
    
    #mainDescription {
        color: #c4c4c4;
    }

    .simulator_section_intern p, label {
        color: #c7c7c7;
    }

    .simulator, input {
        background-color: #272727;
        color: #ffffff;
    }

    #time_period {
        background-color: #272727;
        color: #c7c7c7;
    }

    .resultado_box {
        border: 2px solid #c7c7c7;
    }

    .google_input_wrapper {
        border: 2px solid #c7c7c7;
    }
    
    .google_prefix {
        color: #c7c7c7;
    }

    .google_label {
        color: #c7c7c7;
        background-color: #272727;
    }

    .simularButton {
        background-color: #fff;
        color: #191919;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .simularButton:hover {
        background-color: #e7e7e7;
    }

    .simulator_section_intern {
        margin: 20px 0;
    }
    .option {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    .option input[type="radio"] {
        display: none;
    }
    .option label {
        font-size: 16px;
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 20px;
        transition: background-color 0.3s ease;
        display: flex;
        align-items: center;
    }
    .option label:hover {
        background-color: #454545;
    }
    .option input[type="radio"]:checked + label {
        background-color: #007bff;
        color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .option input[type="radio"]:checked + label::before {
        content: "\2022";
        font-size: 18px;
        margin-right: 10px;
    }

    .legend-color {
        border: 1px solid rgb(255, 255, 255);
    }

    #notification {
        background-color: white;
    }
    
    .notification-content p {
        color: #2a2a2a;
    }

    .footer {
        background-color: #282c34;
        color: white;
    }

    .unavailable_overlay {
        background-color: #27272799; /* Opacidade */
    }

    .github_icon {
        background-image: url('/images/github_light.svg');
    }

    .footer_link {
        color: #ffffff; 
    }
    
    /* Pseudo-elemento para criar o sublinhado */
    .footer_link::after {
        background-color: #ffffff;
    }

    .arrow_down {
        background-image: url('/images/arrow_down_light.svg');
    }

      
    td, th {
        border: 1px solid #454545;
    }

    .impr_menu_true {
        background-color: #fff;
        color: #000;
    }

    .impr_menu_true:hover {
        background-color: #d2d2d2;
    }

    .impr_menu_false {
        background-color: #464646;
        color: #ffffff;
    }

    .impr_menu_false:hover {
        background-color: #383838;
    }
    
}

