/* global.css */
[data-theme="light"] {
    --background-color1: #fafafa;
    --background-color2: #AAAAAA;
    --background-color3: #fbfbfb;
    --background-color4: #e7e7e7;
    --background-color5: #ffffff;
    --background-color6: #585858;
    --background-color7: #5c5c5c;
    --background-color8: #ffffff;
    --background-color9: #000000;
    --background-color10: #ededed;
    --background-color11: #333333;
    --background-color12: #d6d6d6;
    --background-color13: #4A90E2;
    --background-color14: #ff351b;
    --background-color15: #ffffff;
    --background-color16: #ededed;
    --background-color17: #5c5c5c;
    --background-color18: #333333f0;
    --background-color19: #ffffff;
    --background-color20: #101010;

    --color1: #000000;
    --color2: #252525;
    --color3: #333;
    --color4: #666;
    --color5: #000000; 
    --color6: #171717; 
    --color7: #5bb2ff; 
    --color8: #121212; 
    --color9: #777; 
    --color10: #f1f1f1; 
    --color11: #333333;
    --color12: #818181;
    --color13: #333;
    --color14: #000000;
    --color15: #ffffff;
    --color16: #ffffff;
    --color17: #00000059;
    --color18: #999;
    --color19: #ccc;
    --color20: #ababab;

    --svg-blue: #00101d;
    --svg-white: #ffffff;

    --alt-color1: #00000000;
    --alt-color2: #00000080;
    --alt-color3: #ccc;
    --alt-color4: #00000033;
    --alt-color5: #ffffff99;
    --alt-color6: #079cff;
    --alt-color7: #4A90E2;
    --alt-color8: #0000001a;
    --alt-color9: #ccc;
    --alt-color10: #0000001a;
    --alt-color11: #0000004d;
    --alt-color12: #e0e0e0;
    --alt-color13: #5a5a5a76;
    --alt-color14: #00000033;
    --alt-color15: #00000062;
    --alt-color16: #00000076;

    --pure-color1: #ffffff;
}

[data-theme="dark"] {
    --background-color1: #181818;
    --background-color2: #AAAAAA;
    --background-color3: #2c2c2c;
    --background-color4: #444;
    --background-color5: #272727;
    --background-color6: #e7e7e7;
    --background-color7: #dfdfdf;
    --background-color8: #333333;
    --background-color9: #ffffff;
    --background-color10: #3e3e3e;
    --background-color11: #333333;
    --background-color12: #626262;
    --background-color13: #4A90E2;
    --background-color14: #ff351b;
    --background-color15: #333333;
    --background-color16: #5c5c5c;
    --background-color17: #dfdfdf;
    --background-color18: #f9f9f9;
    --background-color19: #0f0f0f;
    --background-color20: #bdbdbd;

    --color1: #ffffff;
    --color2: #ffffff;
    --color3: #f7f7f7;
    --color4: #c4c4c4;
    --color5: #2a2a2a; 
    --color6: #FFF;
    --color7: #003a6c; 
    --color8: #121212; 
    --color9: #c7c7c7; 
    --color10: #191919; 
    --color11: #f9f9f9;
    --color12: #818181;
    --color13: #ffffff;
    --color14: #ffffff;
    --color15: #f9f9f9;
    --color16: #333;
    --color17: #00000059;
    --color18: #999;
    --color19: #ccc;
    --color20: #555555;

    --svg-blue: #003a6c;
    --svg-white: #abb8c3;

    --alt-color1: #00000000;
    --alt-color2: #00000000;
    --alt-color3: #646464;
    --alt-color4: #00000033;
    --alt-color5: #27272799;
    --alt-color6: #079cff;
    --alt-color7: #4A90E2;
    --alt-color8: #0000001a;
    --alt-color9: #454545;
    --alt-color10: #0000001a;
    --alt-color11: #0000004d;
    --alt-color12: #3c3c3c;
    --alt-color13: #00000046;
    --alt-color14: #00000033;
    --alt-color15: #00000062;
    --alt-color16: #000000bf;

    --pure-color1: #ffffff;
    --pure-color2: #000000;
}

[data-theme="dark"] #play_icon {
    background-image: url('./images/icons/play_icon_dark.svg');
}

[data-theme="dark"] #pause_icon {
    background-image: url('./images/icons/pause_icon_dark.svg');
}


html {
    touch-action: manipulation;
}

body {
    background-color: var(--background-color1);
    color: var(--color1);
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
}

#background-image {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    filter: blur(150px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(1.5);
    z-index: -10;
}

.background-image-effect2 {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    filter: blur(50px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(1.5);
    z-index: -10;
}

#toggle_image {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    filter: blur(1px);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(1.2);
    z-index: -10;
}

body::before {
    content: "";
    position: fixed; /* ou absolute, dependendo do layout */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px); /* Ajuste a intensidade do desfoque conforme necessário */
    z-index: -1;
}

a {
    text-decoration: none;
    color: inherit;
    background: none; 
    border: none; 
    padding: 0;
    margin: 0; 
    font: inherit; 
    cursor: pointer;
    outline: none; 
}

a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 14px;
}
  
::-webkit-scrollbar-thumb {
    border: 4px solid var(--alt-color1);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: var(--background-color2);
}

.flag {
    width: 40px;
    cursor: pointer;
}
.flag-container {
    position: relative;
    display: grid;
    place-items: center;
    cursor: pointer;
    user-select: none;
}

.flag-menu {
    display: none;
    position: absolute;
    width: 190px;
    top: 45px;
    left: -158px;
    background-color: var(--background-color3);
    box-shadow: 0 8px 16px var(--alt-color2);
    z-index: 5;
    border-radius: 12px;
    padding: 5px;
    max-height: 200px;
    overflow: auto;
}

.flag-option {
    display: flex;
    align-items: center;
    padding: 3px 10px;
    border-radius: 8px;
}

.flag-option:hover {
    background-color: var(--background-color4);
}

.country-name {
    margin-left: 10px;
    font-size: 14px;
    color: var(--color2);
}

h1, p {
    color: var(--color2);
}

hr {
    border-top: 1px solid var(--alt-color3);
    border-right: none; 
    border-bottom: none; 
    border-left: none; 
    border-image: initial; 
    margin: 9px 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 1;
    position: relative;
}

.top {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
    padding: 10px 15px;
}

.main {
    padding: 30px;
    text-align: center;
}

.footer {
    margin-top: auto;
    color: var(--pure-color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 12px 20px;
    font-family: 'Arial', sans-serif;
    user-select: none;
}

.footer_link {
    color: var(--color2);
    text-decoration: none; 
    position: relative;
}

/* Pseudo-elemento para criar o sublinhado */
.footer_link::after {
    content: '';
    position: absolute; 
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: bottom right; 
    transition: transform 0.3s ease;
}

.footer_link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left; 
}

.footer p {
    margin: 0;
    font-size: 15px;
}

.github_icon {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    background-image: url('./images/github_dark.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


.main h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.main h2 {
    font-size: 1.2em;
}

.main p {
    font-size: 1.2em;
}


/* ESTILOS INTERNOS */

.message {
    margin: 0 0 30px 0;
    user-select: none;
}

#topTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: var(--color3);
    margin: 0;
    user-select: none;
    cursor: pointer;
}

#mainTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: var(--color3);
}

  #mainDescription {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: var(--color4);
    margin: 0;
}

#notification {
    display: flex;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--pure-color1);
    border-radius: 8px;
    max-height: 65px;
    opacity: 0;
    z-index: 99999;
    padding: 10px 20px;
    box-sizing: border-box;
    transition: opacity 0.5s ease-in-out;
    box-shadow: var(--alt-color4) 0px 0px 10px;
}

#notification-message {
    font-size: 16px;
    margin: 0;
}

.notification-content p {
    color: var(--color5);
    opacity: 100;
    user-select: none;
    width: 100%;
}

.unavailable_overlay {
    position: absolute; /* Definindo a posição absoluta */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--alt-color5); /* Opacidade */
    z-index: 1;
}

/* SIMULADOR */

.simulator_top {
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 15px 0;
}

    /* SEARCH */

    .search-container {
        width: 100%;
        position: relative;
    }

    .search-bar {
        width: 100%;
        padding: 12px 20px;
        padding-right: 40px;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        box-sizing: border-box;
        outline: none;
        background-color: var(--background-color5);
        color: var(--color1);
    }

    .search-bar:focus {
        border: 1px solid var(--alt-color6);
        box-sizing: border-box;
        box-shadow: 0 0 0 1px var(--alt-color7);
    }

    .search-icon {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .loader {
        position: absolute;
        right: 14px;
        top: 11px;
        width: 20px;
        height: 20px;
        border: 2px solid var(--color6);
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }
    
        @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    } 

    /* ******* */

/* SEARCH EXEMPLES */

.search_examples {
    max-width: 800px;
    margin: auto;
    box-sizing: border-box;
    background-color: var(--color7);
    width: 100%;
    height: 250px;
    border-radius: 12px;
    color: var(--pure-color1);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.search_examples p {
    color: var(--pure-color1);
}

.text_rocket {
    font-size: 18px;
    font-weight: 600;
    text-align: start;
    width: calc(100% - 215px);
}

.rocket_svg {
    height: 200px;
    background-image: url('./images/astronaut.svg');
    width: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 30px;
    right: 20px;
    animation: float 5s ease-in-out infinite;
    overflow: hidden;
    z-index: 2;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.wave_svg {
    position: absolute;
    top: 165px;
    left: -30px;
    transform: rotate(20deg);
}

.wave_svg_inv {
    position: absolute;
    bottom: 165px;
    right: -30px;
    transform: rotate(20deg);
    z-index: 1;
}


.svg_blue {
    fill: var(--svg-blue);
}

.svg_borders {
    fill: var(--svg-white);
}

.svg_white {
    fill: var(--svg-white);
}

.main_simulator_div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.simulator {
    background-color: var(--background-color5);
    color: var(--color2);
    border-radius: 12px; 
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s ease;
    box-sizing: border-box;
}

.search_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--color8);
}

.simulator_section_intern {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box; /* inclui padding e borda na largura */
    position: relative;
    margin: 10px 0;
}

#bmcButton {
    transition: opacity 0.5s ease;
}


/**/

.input_with_suffix {
    display: flex;
    align-items: center;
}


#time_period {
    padding: 15px 10px;
    box-sizing: border-box;
    border: none;
    border-left: none;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    background-color: var(--background-color5);
    color: var(--color8);
}

.simulator_bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

.simularButton {
    display: flex;
    padding: 10px;
    background-color: var(--color2);
    color: var(--color10);
    border-radius: 12px;
    width: max-content;
    cursor: pointer;
    box-shadow: 0 4px 8px var(--alt-color8);
}

.simularButton:hover {
    background-color: var(--background-color6);
}

td, th {
    border: 0.5px solid var(--alt-color9);
    padding: 5px; 
    font-size: 50%;
}


/* Estilos responsivos para dispositivos móveis */
@media (max-width: 700px) {

    .top {
        padding: 15px 12px;
    }

    .message {
        display:none;
    }

    .main h1 {
        font-size: 1.5em;
    }

    .main h2 {
        font-size: 1em;
    }

    .main p {
        font-size: 1em;
    }

    .search_examples {
        height: 200px;
    }

    .footer {
        padding: 15px;
    }

    .main {
        padding: 0 15px 10px 15px;
    }

    #topTitle {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8em;
    }

    .simulator_section_intern {
        width: 100%; 
    }

    .simulator_main {
        width: 100%;
    }

    .rocket_svg {
        height: 150px;
        width: 150px;
        top: 40px;
    }

    .wave_svg {
        top: 165px;
        left: -30px;
    }
    
    .wave_svg_inv {
        bottom: 165px;
        right: -30px;
    }

    .text_rocket {
        font-size: 18px;
        width: calc(100% - 155px);
    }

    #notification {
        padding: 10px 20px;
        max-height: 100px;
        width: 85%;
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 550px) {
    .main {
        padding: 5px;
    }

    .bmcButton {
        display: none;
    }

    .search_container {
        border-radius: 12px;
    }

    .sp_data_container {
        border-radius: 12px;
        margin-bottom: 18px;
    }

}

/**/

.simulator_section_intern {
    margin: 20px 0;
}